* {
    padding:0;
    margin:0;
    font-size:100%;
    line-height: 1em;
}
body {
    width: 75%;
    max-width: 600px; 
    font-family: Georgia,'Times New Roman',serif;
    margin: auto;
    background:#f0f0f0;
    text-align:left; 
    line-height:2em;
    
}

/*------Typography------*/

p,li,blockquote {
    margin-bottom: 1em;
    line-height: 1.5;
}

hr{margin:2em 0em;
color:#c06;
}

h1 {
    font-size: 370%;
    line-height: 1em;
}

h2 {
    font-size: 150%;
    font-style: italic;
line-height:3em;
}

h3 {font-size:100%;
line-height: 2em;
text-transform: uppercase;}

p {font-size:75%;
font-style: normal;
}

p2 {text-transform: uppercase;}

.intro {font-size: 110%;
    line-height: 1.6em;
}

blockquote {
    padding:1em 0em ;
    font-size: 100%;
    font-style: italic;
    line-height: 1.2em;
    color: #777;
    
}

cite {
    font-size: .7em;
}

  hr {
           margin: 4em 0;
           height: 1px;    
           background-color:#FF0066;
           border: 0 none;
        }


/*------dropcap------*/
.dropcap {float: left;
font-size: 4.53em;
line-height: 1em;
    margin: 0;
}


/*------ section 1------*/

.one {
    font-family:"Libre Baskerville",serif;
}   


/*------section 2------*/
.two {font-family: "Open Sans", serif; 
}

.introcaps {text-transform: uppercase;}

.two p+p{margin-bottom: -0em;}

.two p+p+p {text-indent: 1.5em;}

.two blockquote {margin-top: 1em;}
/*------section 3------*/
.three {font-family:"arvo", serif;}